{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^[@/]",

    "^~/app/(.*)$",
    "^~/processes/(.*)$",
    "^~/pages/(.*)$",
    "^~/widgets/(.*)$",
    "^~/features/(.*)$",
    "^~/entities/(.*)$",
    "^~/shared/(.*)$",
    "^~/(.*)$",

    "^[./]",
    "^[../]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "semi": true,
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": true,
  "quoteProps": "consistent",
  "trailingComma": "es5",
  "singleAttributePerLine": false,
  "bracketSpacing": true
}
